{% extends 'base.html.twig' %}

{% block title %}- Inicio{% endblock %}
{% block css %}
    
{% endblock %}
{% block main %}
    <main class="bg-claro">
    <div id="div-cookies" style="display: none;">
        Necesitamos usar cookies para que funcione todo, si permanece aquí acepta su uso, más información en
        <a hreflang="es" href="legal">Aviso Legal</a>
        y la
        <a hreflang="es" href="/info/politica-de-privacidad">Política de Privacidad</a>.
        <button type="button" class="btn btn-sm btn-primary" onclick="acceptCookies()">
            Acepto el uso de cookies
        </button>
    </div>
        <div class="container-fluid d-none d-md-flex p-0">
                    <div class="row pt-4 pb-4 bg-gris-claro w-100 m-0">
                                <div class="col-1"></div>
                                <div class="col-2 trj align-self-center">
                                    <a class="text-decoration-none" href="{{ path('recetas') }}">
                                        <div class="card trj-efc">
                                            <div class="card-header border-0 bg-transparent">
                                                <h6 class="m-0 text-center text-white fw-bold">RECETAS</h6>
                                            </div>
                                            <div class="card-body p-5">
                                                
                                            </div>
                                        </div>
                                        <p class="m-0 fs-7 fw-bold text-center text-white txt-efc ps-4 pe-4">PRUEBA A REPLICAR NUESTRAS DELICIOSAS RECETAS</p>
                                    </a>
                                </div>
                                <div class="col-2 trj align-self-center">
                                    <a class="text-decoration-none" href="{{ path('noticias') }}">
                                        <div class="card trj-efc">
                                            <div class="card-header border-0 bg-transparent">
                                                <h6 class="m-0 text-center text-white fw-bold">NOTICIAS</h6>
                                            </div>
                                            <div class="card-body p-5">
                                            </div>
                                        </div>
                                        <p class="m-0 fs-7 fw-bold text-center text-white txt-efc ps-4 pe-4">PONTE AL DÍA CON EL MUNDO DEL AGUACATE</p>
                                    </a>
                                </div>
                                <div class="col-2 trj align-self-center">
                                    <a class="text-decoration-none" href="{{ path('galeria') }}">
                                        <div class="card trj-efc">
                                            <div class="card-header border-0 bg-transparent">
                                                <h6 class="m-0 text-center text-white fw-bold">GALERIA</h6>
                                            </div>
                                            <div class="card-body p-5">
                                            </div>
                                        </div>
                                        <p class="m-0 fs-7 fw-bold text-center text-white txt-efc ps-4 pe-4">HÉCHALE UN VISTAZO A LA GALERIA DE IMAGENES</p>
                                    </a>
                                </div>
                                <div class="col-2 trj align-self-center">
                                    <a class="text-decoration-none" href="{{ path('contacto') }}">
                                        <div class="card trj-efc">
                                            <div class="card-header border-0 bg-transparent">
                                                <h6 class="m-0 text-center text-white fw-bold">CONTACTO</h6>
                                            </div>
                                            <div class="card-body p-5">
                                            </div>
                                        </div>
                                        <p class="m-0 fs-7 fw-bold text-center text-white txt-efc ps-4 pe-4">¿TIENES ALGUNA DUDA? CONTÁCTANOS</p>
                                    </a>
                                </div>
                                <div class="col-2 trj align-self-center">
                                    <a class="text-decoration-none" href="{{ path('legal') }}">
                                        <div class="card trj-efc">
                                            <div class="card-header border-0 bg-transparent">
                                                <h6 class="m-0 text-center text-white fw-bold">LEGAL</h6>
                                            </div>
                                            <div class="card-body p-5">
                                            </div>
                                        </div>
                                        <p class="m-0 fs-7 fw-bold text-center text-white txt-efc ps-4 pe-4">CONSULTA LAS BASES LEGALES</p>
                                    </a>
                                </div>
                                <div class="col-1"></div>
                    </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 video text-center">
                    <h1 class="pb-5 fs-2">NUESTROS AGUACATES SON LOS MEJORES</h1>
                    <a class="button button--dione" href="{{path('aguacates')}}"><span>DESCÚBRELOS</span></a>
                </div>
            </div>
        </div>
        <div id="descubrir" class="container-fluid bg-claro pt-5 pb-5">
            <div class="row">
                <div class="col-4 d-none d-md-flex"></div>
                <div class="col-md-4 pt-4 pt-md-0 col-12 d-flex justify-content-center">
                    <div>
                        <div class="p-3 shadow-lg" id="forma1" onmouseover="transformar1()"><img class="w-50" src="/img/marca.png" alt="Marca"></div>
                        <h2 class="text-center fs-5 pt-4">MARCA</h2>
                    </div>
                </div>
                <div class="col-4 d-none d-md-flex"></div>
            </div>
            <div class="row">
                <div class="col-md-4 pt-4 pt-md-0 col-12 d-flex justify-content-center">
                    <div>
                        <div class="p-3 shadow-lg" id="forma2" onmouseover="transformar2()"><img class="w-50" src="/img/quienes.png" alt="Quienes somos"></div>
                        <h2 class="text-center fs-5 pt-4">¿QUIENES SOMOS?</h2>
                    </div>
                </div>
                <div class="col-4 d-none d-md-flex"></div>
                <div class="col-md-4 col-12 pt-4 pt-md-0 d-flex justify-content-center">
                    <div>
                        <div class="p-3 shadow-lg" id="forma3" onmouseover="transformar3()"><img class="w-50" src="/img/objetivo.png" alt="Objetivo"></div>
                        <h2 class="text-center fs-5 pt-4">OBJETIVO</h2>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
function checkAcceptCookies() {
    if (localStorage.acceptCookies == 'true') {
    } else {
        $('#div-cookies').show();
    }
}
function acceptCookies() {
    localStorage.acceptCookies = 'true';
    $('#div-cookies').hide();
}
$(document).ready(function() {
    checkAcceptCookies();
});



</script>
{% endblock %}
