<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/css.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Josefin+Sans:wght@400;700&family=Lobster&family=Oswald&family=Rock+3D&family=Slackside+One&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
    </style>
    {% block css %}{% endblock %}
    <script src="js/burger.js"></script>
    <script src="js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Avoctrop {% block title %}{% endblock %}</title>
</head>

<body>
    <nav>
        <div class="container-fluid">
            <div class="row bg-verde border-bottom border-2 border-dark pt-2 pb-2 navbar navbar-expand">
                <div class="col-2 col-md-2 ps-4 align-self-center">
                    <a href="{{ path('home') }}"><img class="logo-nav" src="img/(Logo) Sin fondo.png" alt=""></a>
                </div>
                <div class="col-1 align-self-center"></div>
                <div class="col-6 align-self-center d-flex justify-content-center">
                        <a href="{{ path('home') }}" class="text-decoration-none">
                            <span id="avoc">
                                AVOCTROP
                            </span>
                        </a>
                </div>
                <div class="col-1 text-end align-self-center pe-0 d-none d-md-flex">
                    <div class="dropdown idioma">
                        <button class="btn btn-secondary bg-transparent border-0 dropdown-toggle text-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="bandera align-self-center" src="img/espana.png" alt="">
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#"><img class="bandera align-self-center" src="img/espana.png" alt=""></a></li>
                          <li><a class="dropdown-item" href="#"><img class="bandera align-self-center" src="img/espana.png" alt=""></a></li>
                          <li><a class="dropdown-item" href="#"><img class="bandera align-self-center" src="img/espana.png" alt=""></a></li>
                        </ul>
                      </div>
                </div>
                <div class="col-2 align-self-center derecha ps-0 pe-4 d-none d-md-flex">
                    <a href="http://avoctropshop.local" class="button button--telesto p-2 text-center text-decoration-none"><span><span>Pedidos Online</span></span></a>
                </div>
                <div class="col-3 d-flex d-md-none justify-content-end pe-3">
                    <i id="burger" class="bi bi-list fs-1"></i>
                </div>
            </div>
            <div id="desplegable" class="row d-none d-md-flex">
                <div class="col-12 d-flex flex-column flex-md-row text-center justify-content-between align-self-center p-3 pe-5 ps-5 cl-effect-20">
                    <div class="row d-md-none">
                        <div class="col-6 border-end border-dark">
                            <a href="http://avoctropshop.local" class="button button--telesto p-2 text-center text-decoration-none"><span><span>Pedidos Online</span></span></a>
                        </div>
                        <div class="col-6 align-self-center">
                            <div class="dropdown idioma">
                        <button class="btn btn-secondary bg-transparent border-0 dropdown-toggle text-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="bandera align-self-center" src="img/espana.png" alt="">
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#"><img class="bandera align-self-center" src="img/espana.png" alt=""></a></li>
                          <li><a class="dropdown-item" href="#"><img class="bandera align-self-center" src="img/espana.png" alt=""></a></li>
                          <li><a class="dropdown-item" href="#"><img class="bandera align-self-center" src="img/espana.png" alt=""></a></li>
                        </ul>
                      </div>
                        </div>
                    </div>
                    <a class="text-decoration-none text-dark fw-bold pt-3 pt-md-0" href="{{ path('recetas') }}"><span class="span" data-hover="RECETAS">RECETAS</span></a>
                    <a class="text-decoration-none text-dark fw-bold pt-3 pt-md-0" href="{{ path('noticias') }}"><span class="span" data-hover="NOTICIAS">NOTICIAS</span></a>
                    <a class="text-decoration-none text-dark fw-bold pt-3 pt-md-0" href="{{ path('galeria') }}"><span class="span" data-hover="GALERIA">GALERIA</span></a>
                    <a class="text-decoration-none text-dark fw-bold pt-3 pt-md-0" href="{{ path('contacto') }}"><span class="span" data-hover="CONTACTO">CONTACTO</span></a>
                    <a class="text-decoration-none text-dark fw-bold pt-3 pt-md-0" href="{{ path('legal') }}"><span class="span" data-hover="INFORMACIÓN LEGAL">INFORMACIÓN LEGAL</span></a></div>
                </div>
            </div>
        </div>
    </nav>
        {% block main %}{% endblock %}
    <footer>
        <div class="container-fluid">
            <div class="row pt-5">
                <div class="col-2 col-md-4"></div>
                <div class="col-8 col-md-4 d-flex justify-content-center">
                    <img class="img-footer ps-3 mb-5 mb-md-0 w-100" src="img/Sin fondo (Pegatina rectangular).png" alt="">
                </div>
                <div class="col-2 col-md-4"></div>
            </div>
            <div class="row pt-5">
                <div class="col-2 col-md-3"></div>
                <div class="col-8 col-md-6">
                    <p class="text-center">Otro texto de prueba porque no tengo ideas de textos pero asi puedo ver mas o menos como seria el resultado</p>
                </div>
                <div class="col-2 col-md-3"></div>
            </div>
            <div class="row pt-5 pb-5">
                <div class="col-2 col-md-4"></div>
                <div class="col-8 col-md-4 d-flex justify-content-between">
                    <a href="https://instagram.com/avoctrop" class="text-decoration-none">
                        <i class="bi bi-instagram fs-3 p-2 rounded-5 text-dark bg-white border"></i>
                    </a>
                    <a href="https://wa.me/34691125050?text=" class="text-decoration-none">
                        <i class="bi bi-whatsapp fs-3 p-2 rounded-5 text-dark bg-white border"></i>
                    </a>
                    <a href="https://facebook.com/avoctrop" class="text-decoration-none">
                        <i class="bi bi-facebook fs-3 p-2 rounded-5 text-dark bg-white border"></i>
                    </a>
                    <a href="mailto:info@avoctrop.com" class="text-decoration-none">
                        <i class="bi bi-envelope fs-3 p-2 rounded-5 text-dark bg-white border"></i>
                    </a>
                    <a href="{{ path('contacto') }}" class="text-decoration-none">
                        <i class="bi bi-geo-alt-fill fs-3 p-2 rounded-5 text-dark bg-white border"></i>
                    </a>
                </div>
                <div class="col-2 col-md-4"></div>
            </div>
            <div class="row bg-verde opacity-75">
                <div class="col-12">
                    <h5 class="pt-2 pb-1 fw-bold text-white text-center">© Copyright 2023 Avoctrop</h5>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>